<section class="hero">
    <div class="text-container">
        <h1 class="editable">{{ include.hero.title }}</h1>
        <p class="subtext editable">{{ include.hero.subtitle }}</p>
        <div class="cta button alt"><a href="{{ site.baseurl }}/{{include.hero.button.url}}">{{ include.hero.button.text }}</a></div>
        <div>
            <img src="{{ site.baseurl }}/{{ include.hero.image.url }}" alt="{{ include.hero.image.alt }}" class="screenshot editable" />
        </div>
    </div>
</section>