<section class="testimonial">
    <div class="container flex">
        <div class="testimonial-block">
            <div class="square-image"><img src="{{ page.testimonial.image }}" alt="{{ page.testimonial.author.name }}"
                    class="editable">
            </div>
            <blockquote>
                <p class="editable">{{ page.testimonial.quote }}</p>
                <p class="editable author">{{ page.testimonial.author.name }} - {{page.testimonial.author.position}}</p>
            </blockquote>
        </div>
    </div>
</section>