---
layout: default
---

{% if page.hero %} {% include hero.html hero=page.hero %} {% endif %}

<div class="content">

    {% if page.contents %}
        {% for content in page.contents %}
            {% include intro-block.html %} 
        {% endfor %}
    {% endif %}

    {% if page.custom-content == true %}
        {% include formated-content.html %} 
    {% endif %}
    
    {% if page.testimonial %} 
        {% include testimonial.html testimonial=page.testimonial %} 
    {% endif %}

    {% if page.callout %} 
        {% include callout.html callout=page.callout %}
    {% endif %}

</div>